tr:nth-child(even) {
  background-color: #f2f2f2;
}
th{
  color: white;
  background: #4a4a4a;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.md-typeset__table {
   min-width: 100%;
}

.md-typeset table:not([class]) {
    display: table;
}

